@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Global Styles */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background-color:#f8f9fa;
    font-family:'Poppins',sans-serif;
}

/* Navbar */

.navbar{
    background:#212529;
    min-height:60px;
    padding:2px 0;
}

.navbar-brand{
    display:flex;
    align-items:center;
    gap:8px;              /* Reduced from 14px */
    text-decoration:none;
}

.navbar-logo{
    width:68px;
    height:68px;
    object-fit:contain;
    margin-right:0;
    transition:transform .3s ease;
}

.brand-title{
    font-size:2.2rem;
    font-weight:700;
    color:#fff;
    margin:0;
}

.navbar-brand:hover .navbar-logo{
    transform:scale(1.08);
}



.nav-link{
    color:#fff !important;
    font-weight:500;
    margin-left:8px;
    transition:.3s;
}

.nav-link:hover{
    color:#ffc107 !important;
}

.navbar-toggler{
    border:none;
}

.navbar-toggler:focus{
    box-shadow:none;
}

.brand-title{
    font-size:2.2rem;
    font-weight:700;
    letter-spacing:-0.5px;
    color:#ffffff;
    margin:0;
}
.hero-image{
    width:100%;
    max-width:500px;
    height:auto;
    animation:float 4s ease-in-out infinite;
}

@keyframes float{

    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-12px);
    }

    100%{
        transform:translateY(0);
    }

}